<!DOCTYPE html>
<html>
<head>
    <title>todo list</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="tasklist">
        <div v-for="task in tasks">
            <input type="checkbox" id="{{ task.id }}" name="{{ task.text }}" value="{{ task.text }}">{{ task.text }}</input>
        </div>
    </div>
    <script>
        var task = new Vue({
            el: '#tasklist',
            data: {
                tasks: [
                    { id: 1, text: 'Learn JavaScript' },
                    { id: 2, text: 'Learn Vue' },
                    { id: 3, text: 'Build something awesome'}
                ]
            }
        });
    </script>
</body>
</html>
