<!DOCTYPE html>
<html>
<head>
    <title>todo list</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="tasklist">
        <ol>
            <li v-for="task in tasks">
                {{ task.text }}
            </li>
        </ol>
    </div>
    <script>
        var task = new Vue({
            el: '#tasklist',
            data: {
                tasks: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome'}
                ]
            }
        });
    </script>
</body>
</html>